<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Regístrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Iniciar sesión </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div>
    <h3 align="center">
      Crea tu cuenta 
    </h3>
    <form [formGroup]="form">
      
      <ion-item [class.ion-invalid]="get('correo').invalid">
        <ion-label position="floating">
          Correo
          <span class="required">*</span>
        </ion-label>
        <ion-input placeholder="Ingrese su correo"  clearInput="true" required="true" formControlName="correo" autocomplete="on"></ion-input>
      </ion-item>

      <ion-item [class.ion-invalid]="get('nombre').invalid">
        <ion-label position="floating">
          Nombre
          <span class="required">*</span>
        </ion-label>
        <ion-input placeholder="Ingrese su nombre" clearInput="true" required="true" formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item [class.ion-invalid]="get('contraseña').invalid">
        <ion-label position="floating">
          Contraseña
          <span class="required">*</span>
        </ion-label>
        <ion-input placeholder="Ingrese su contraseña" type="password" clearInput="true" required="true" formControlName="contraseña"></ion-input>
      </ion-item>

      <ion-item [class.ion-invalid]="get('contraseña').invalid">
        <ion-label position="floating">
          Confirmar contraseña
          <span class="required">*</span>
        </ion-label>
        <ion-input placeholder="Confirme su contraseña" type="password" clearInput="true" required="true" formControlName="confirmar"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="onRegister()" color="primary">Registrarse</ion-button>
    </form>
  </div>
</ion-content>